:root {
  --maintext: black;
  --secondaryText: #4b5156;
  --borderColor: #c1c1c1;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong {
  display: inline-block;
  color: var(--maintext);
}

p,
li,
span,
label,
input,
textarea {
  color: var(--maintext);
}

.intro__img {
  box-shadow: var(--bs);
  height: 300px;
  width: 300px;
  margin-top: 0%;
}

.nav-link:hover {
  font-weight: bolder;
}

/*JUMBOTRON*/
.jumbotron {
  position: relative;
  height: 100vh; /*height to 100% of view height*/
  /*background color to blue*/
  margin-bottom: 0; /*no bottom margin*/

  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: black;
  text-align: center;
  padding-top: 70px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: black;
  padding: 20px;
}

#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

section {
  position: relative;
  margin-bottom: 300px;
}
