:root {
  --maintext: black;
  --secondaryText: #4b5156;
  --borderColor: #c1c1c1;
  --beautblue: #16e0bd;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.intro__img {
  box-shadow: var(--bs);
  height: 300px;
  width: 300px;
  margin-top: 0%;
}
.nav-link {
  color: white;

  font-weight: bold;
}
.nav-link:hover {
  color: black;
  font-weight: bolder;
  font-size: 15px;
}
.navbar-custom {
  background-color: #ffc107;
}
/*JUMBOTRON*/
.jumbotron {
  position: relative;
  height: 100vh; /*height to 100% of view height*/
  /*background color to blue*/
  margin-bottom: 0; /*no bottom margin*/

  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: black;
  text-align: center;
  padding-top: 70px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 620;
  font-size: 2em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: black;
  padding: 20px;
}
.social:hover {
  color: #ffc107;
}

#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  color: #ffc107;
  text-align: center;
  margin-bottom: 0px;
}
.fa-chevron-down {
  color: black;
}
.fa-chevron-down:hover {
  color: #ffc107;
}

.about_section {
  background-size: cover;
  padding-top: 60px;
  background-color: #303030;
}
.about_section > h1 {
  color: #ffc107;
  margin-bottom: 1.25em;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}
.about_section-desc {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 2.25rem;
  line-height: 1;
  margin-left: 150px;
  margin-right: 150px;
}

.tiitre {
  font-family: monospace;
  font-size: 25px;
  line-height: 90px;
  letter-spacing: 5px;
  font-weight: 70;
  color: #ffc107;
  margin-left: 120px;
  margin-bottom: 0px;
}

.resume-list__block {
  color: white;
  border-left: 2px solid #ffc107;
  margin-left: 65px;
  padding-left: 5px;
  padding-bottom: 50px;
}
.resume-list .resume-list__block p {
  margin: 0;
}
.resume-list .resume-list__block:before {
  width: 12px;
  height: 12px;
  border: 170px solid #ffc107;
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 200px;
}
.resume-list .resume-list__block:last-child {
  padding-bottom: 0;
}
.resume-list .resume-list__block-title {
  text-transform: uppercase;
  color: #ffc107;
  font-size: 14px;
  line-height: 20px;
  font-family: monospace;
  font-weight: 700;
  padding-bottom: 5px;
}
.resume-list .resume-list__block-date {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  color: #ffc107;
  padding-bottom: 10px;
}

.portfolio_section {
  background-size: cover;
  padding-top: 60px;
  background-color: white;
}

.portfolio_section > h1 {
  color: #303030;
  margin-bottom: 1.25em;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}
